<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>
<body>
<nav th:replace="fragments/navbar::navbar"></nav>

<div class="title">
    <h1  style="text-align: center">select service or tuning for your machine</h1>
</div>
<div class="row" style="margin-top: 3%">

    <div class="container" id="serviceContainer">
        <a href="/inquiries/vehicleService"> <img src="/images/motorcycleService.jpg" alt="Card image"
                                                class="image">
            <div class="middle">
                <div class="text">
                    <p href="/inquiries/vehicleService"
                       style="text-align: center; color: black;text-transform: uppercase;font-size: 25px "
                       class="card-title font-weight-bold ">
                        PLACE AN ORDER FOR VEHICLE SERVICE</p>
                </div>
            </div>
        </a>
    </div>
    <div class="container" id="tuningContainer">
        <a href="/inquiries/vehicleTuning"> <img src="/images/motoTuningOrder.jpg" alt="Card image"
                                                class="image">
            <div class="middle">
                <div class="text">
                    <p href="/inquiries/vehicleTuning"
                       style="text-align: center; color: black;text-transform: uppercase;font-size: 25px "
                       class="card-title font-weight-bold ">
                        PLACE AN ORDER FOR VEHICLE Tuning</p>
                </div>
            </div>
        </a>
    </div>
</div>

<section class="" th:replace="fragments/footer::footer"></section>

</body>

</html>