<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>

<div style="border-style: ridge; width: 80%;margin-top: 5%;margin-left: 10%; background-color: white" class="row">

    <div class="col-12" style="margin-top: 3%;text-align: center">
        <h2 class="tm-block-title d-inline-block">Vehicle Service</h2>
    </div>
    <hr class="col-xl-8 col-lg-10 col-md-12 col-sm-12">

    <div style="margin: 4%" th:each="s : ${service}" th:object="${s}">
        <div class="card" style="width: 35rem;border-top-left-radius: 10px;border-top-right-radius: 10px">
            <div class="card-footer"
                 style="text-align: center;border-top-left-radius: 10px;border-top-right-radius: 10px;background-color: Gainsboro;">
                Inquiry
            </div>
            <ul class="list-group list-group-flush" style="margin-left: 2%;">
                <br>
                <p th:text="|Email: *{email}|">Email: elizabeta@ebv.bg</p>
                <p th:text="|Vehicle type: *{vehicle}|">Vehicle type: motorcycle</p>
                <p th:text="|Model: *{model}|">Model: motorcycle</p>
            </ul>
            <a class="link-details" th:href="@{/inquiries/details/{id}(id = *{id})}">Details</a>
        </div>
    </div>
    <div th:if="${emptyServiceInquiries}" style="margin: auto; width: 50%;text-align: center; border-style: double;
    background-color: Gainsboro;border-radius: 15px;border-color: white; margin-bottom: 3%;margin-top: 3%">
        <br><h4>Don't have inquiries for vehicle service</h4><br>
    </div>

    <div class="col-12" style="text-align: center">
        <h2 class="tm-block-title d-inline-block">Vehicle Tuning</h2>
    </div>
    <hr class="col-xl-8 col-lg-10 col-md-12 col-sm-12">

    <div style="margin: 4%" th:each="t : ${tuning}" th:object="${t}">
        <div class="card" style="width: 35rem;border-top-left-radius: 10px;border-top-right-radius: 10px">
            <div class="card-footer"
                 style="text-align: center;border-top-left-radius: 10px;border-top-right-radius: 10px;background-color: Gainsboro;">
                Inquiry
            </div>
            <ul class="list-group list-group-flush" style="margin-left: 2%;">
                <br>
                <p th:text="|Email: *{email}|">Email: elizabeta@ebv.bg</p>
                <p th:text="|Vehicle type: *{vehicle}|">Vehicle type: motorcycle</p>
                <p th:text="|Model: *{model}|">Model: motorcycle</p>
            </ul>
            <a class="link-details" href="/inquiries/details">Details </a>
        </div>
    </div>
    <div th:if="${emptyTuningInquiries}" style="margin: auto; width: 50%;text-align: center; border-style: double;
    background-color: Gainsboro;border-radius: 15px;border-color: white; margin-bottom: 3%;margin-top: 3%">
        <br><h4>Don't have inquiries for vehicle tuning</h4><br>
    </div>

</div>


<div style="border-style: ridge; width: 80%;margin-top: 5%;margin-left: 10%; background-color: white">
    <div>
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12" style="margin: auto">
            <div class="tm-block " style="margin-left: 2%">
                <div class="row">
                    <div class="col-12" style="margin-top: 3%;text-align: center">
                        <h2 class="tm-block-title d-inline-block">Add new role to user</h2>
                    </div>
                </div>
                <hr>
                <div class="row mt-4 tm-edit-product-row">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <form action="/role/add" method="POST"
                              class="tm-edit-product-form">
                            <div class="input-group mb-3">
                                <label for="username"
                                       class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Users</label>
                                <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="username"
                                        name="username">
                                    <option value="" selected>Select user</option>
                                    <option>Pesho</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <label class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Users</label>
                                <div>
                                    <input type="radio" id="user" name="role" value="user">
                                    <label for="user">User</label><br/>
                                    <input type="radio" id="admin" name="role" value="admin">
                                    <label for="admin">Admin</label><br/>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                    <button type="submit" class="btn btn-primary">Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                        <img src="/images/admin.jpg" alt="Exercise picture" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="border-style: ridge; width: 80%;margin-top: 5%;margin-left: 10%; background-color: white">
    <div>
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12" style="margin: auto">
            <div class="tm-block " style="margin-left: 2%">
                <div class="row">
                    <div class="col-12" style="margin-top: 3%;text-align: center">
                        <h2 class="tm-block-title d-inline-block">Add news</h2>
                    </div>
                </div>
                <hr>
                <div class="row" style="width:100%;">
                    <form method="post" th:action="@{/admin/addNews}" style="width: 50%">
                        <div class="label-holder text-dark textCol d-flex">
                            <label for="name" class="h6 mb-2">Title</label>
                        </div>
                        <input type="text" class="form-control" id="name" name="title"/>

                        <div class="label-holder text-dark textCol  ">
                            <label for="description" class="h6 mb-2">Description</label>
                        </div>
                        <textarea type="text" class="form-control" id="description" name="description"></textarea>

                        <div class="fileUpload">
                            <input type="file" id="imageUrl" name="imageUrl" class="upload" />
                            <span>Add image</span>
                        </div>
                        <div class="button-holder d-flex justify-content-center"
                             style="margin-bottom: 3%;margin-top: 3%">
                            <button type="submit" class="btn btn-dark btn-block" value="Submit">Submit</button>
                        </div>
                    </form>
                    <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                        <img src="/images/news.jpg" alt="Exercise picture" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="" th:replace="fragments/footer::footer"></section>
</body>

</html>