<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>


<div class="title">
    <h1 style=" font-size: 25px;" >As an ATV rider, you want the same freedom of the open trails and the wind in your hair as any motorcyclist,
        which means that you need the same top of the line fuel tuning to bring you more power, torque, and speed to leave your friends in the dust. </h1>
</div>
<br>
<div style="margin: auto;width: 900px">
    <iframe width="900" height="520" src="https://www.youtube.com/embed/tNfTyO8WaIA" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>

<section class="" th:replace="fragments/footer::footer"></section>
</body>

</html>