<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>
<div style="margin-top: 5%">
    <button id="addPost" sec:authorize="isAuthenticated()" onclick="window.location.href='/blogs/add'" >Add Post</button>
</div>

<h2 style="text-align: center; font-weight: bold; margin-top: 5%">RECENT POSTS</h2>


<div style="margin-top: 3%" class="fyp-slider full-img carouse-wrap d-flex flex-wrap" id="recentPosts">
    <div class="card" style="width: 18rem; background-color: LightGray;border: none ">
        <img src="/images/road.jpg" class="card-img border-rounded" alt="...">
        <a class="card-title" style="color: #111111; font-weight: bold;" href="/blog/id">HARLEY-DAVIDSON'S HARDWIRE:
            BETTING BIG ON ELECTRIC</a>
        <p style="font-size: 10px;" class="card-text">POSTED BY Anna RESEARCH ON FEB 10, 2021</p>
    </div>

    <div class="card" style="width: 18rem; background-color: LightGray;border: none ">
        <img src="/images/motorcycle.jpg" class="card-img border-rounded" alt="...">
        <a class="card-title" style="color: #111111; font-weight: bold;" href="/blog/id">HARLEY-DAVIDSON'S HARDWIRE:
            BETTING BIG ON ELECTRIC</a>
        <p style="font-size: 10px;" class="card-text">POSTED BY Anna RESEARCH ON FEB 10, 2021</p>
    </div>

    <div class="card" style="width: 18rem; background-color: LightGray;border: none ">
        <img src="/images/road.jpg" class="card-img border-rounded" alt="...">
        <a class="card-title" style="color: #111111; font-weight: bold;" href="/blog/id">HARLEY-DAVIDSON'S HARDWIRE:
            BETTING BIG ON ELECTRIC</a>
        <p style="font-size: 10px;" class="card-text">POSTED BY Anna RESEARCH ON FEB 10, 2021</p>
    </div>

    <div class="card" style="width: 18rem; background-color: LightGray;border: none ">
        <img src="/images/motorcycle.jpg" class="card-img border-rounded" alt="...">
        <a class="card-title" style="color: #111111; font-weight: bold;" href="/blog/id">HARLEY-DAVIDSON'S HARDWIRE:
            BETTING BIG ON ELECTRIC</a>
        <p style="font-size: 10px;" class="card-text">POSTED BY Anna RESEARCH ON FEB 10, 2021</p>
    </div>
</div>


<h2 style="text-align: center; font-weight: bold; margin-top: 5%">PICK YOUR CATEGORY</h2>


<div class="row" style="margin: auto; margin-top: 5% ">
    <div class="imageContainer">
        <a href="/blog/categories/id">
            <img src="/images/road.jpg" alt="Card image"
                 class="image">
            <div class="mid">
                <div class="text">
                    <p href="/blog/categories/id"
                       style="text-align: center; color: white;text-transform: uppercase;font-size: 25px "
                       class="card-title font-weight-bold ">
                        ROADS</p>
                </div>
            </div>
        </a>
    </div>

    <div class="imageContainer">
        <a href="/blog/categories/id">
            <img src="/images/motorcycle.jpg" alt="Card image"
                 class="image">
            <div class="mid">
                <div class="text">
                    <p href="/blog/categories/id"
                       style="text-align: center; color: white;text-transform: uppercase;font-size: 25px "
                       class="card-title font-weight-bold ">
                        MOTORCYCLE</p>
                </div>
            </div>
        </a>
    </div>

    <div class="imageContainer">
        <a href="/blog/categories/id">
            <img src="/images/tuning.jpg" alt="Card image"
                 class="image">
            <div class="mid">
                <div class="text">
                    <p href="/blog/categories/id"
                       style="text-align: center; color: white;text-transform: uppercase;font-size: 25px "
                       class="card-title font-weight-bold ">
                        TUNING</p>
                </div>
            </div>
        </a>
    </div>
    <div class="imageContainer">
        <a href="/blog/categories/id">
            <img src="/images/brands.jpeg" alt="Card image"
                 class="image">
            <div class="mid">
                <div class="text">
                    <p href="/blog/categories/id"
                       style="text-align: center; color: white;text-transform: uppercase;font-size: 25px "
                       class="card-title font-weight-bold ">
                        BEST BRAND's</p>
                </div>
            </div>
        </a>
    </div>
</div>


<section class="" th:replace="fragments/footer::footer"></section>
</body>

</html>