<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>

<div style="background-color: white; width: 60%; margin: auto;border-style: groove; text-align: center"
     th:object="${blog}">

    <h1 th:text="*{title}" style="margin-top: 2%"></h1>
    <img th:src="*{imageUrl}" alt="News Image" style="width: 50%;margin-top: 2%; margin-bottom: 2%">
    <div style="width: 80%; text-align: left; margin: auto; margin-bottom: 5%">
        <p th:text="*{description}"></p>
        <p th:text="|POSTED BY *{author.firstName} RESEARCH ON *{addedOn}|" class="card-text"
           style="font-weight: bold;"></p>
    </div>

    <div style="width: 70%;text-align: center;margin: auto">
        <h4>Comments:</h4>
        <hr>
        <div class="row" style="">
            <p style="margin-left: 5%; width: 10%; height: 30px;background-color: #e5e5e5">Ivan</p>
            <p style="margin-left: 10%; width: 70%; text-align: left">Very nice post! Very nice post! Very nice post! Very nice post! Very nice post! Very nice post! Very nice post! Very nice post! Very nice post! Very nice post!
                Very nice post! Very nice post! Very nice post! Very nice post! Very nice post! Very nice post! Very nice post!  </p>
        </div>
        <hr>
    </div>
</div>

<section class="" th:replace="fragments/footer::footer"></section>
</body>

</html>