<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>

<h2 style="text-align: center; font-weight: bold; margin-top: 5%" th:text="${categoryPage}">ROAD POSTS</h2>

<div th:if="${blogs.isEmpty()}" style="text-align: center;margin: auto;height: 220px;margin-top: 5%">
    <h1>Don't have blog with this category</h1>
    <button style="margin: auto; margin-top: 5%" id="addPost" onclick="window.location.href='/blog/add'">Add Post</button>

</div>

<div style="margin-top: 3%;" class="fyp-slider full-img carouse-wrap d-flex flex-wrap" id="recentPosts">

    <div class="card" style="width: 18rem; background-color: LightGray;border: none; margin-top: 3%"
         th:each="b : ${blogs}"
         th:object="${b}">
        <img th:src="*{imageUrl}" class="card-img border-rounded" alt="...">
        <a th:text="*{title}" class="card-title" style="color: #111111; font-weight: bold;" href="/blog/id">HARLEY-DAVIDSON'S
            HARDWIRE:
            BETTING BIG ON ELECTRIC</a>
        <p style="font-size: 10px;" class="card-text"
           th:text="|POSTED BY *{author.firstName} RESEARCH ON *{addedOn}|"></p>
    </div>
</div>


<section class="" th:replace="fragments/footer::footer"></section>
</body>

</html>