<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>

<main>

</main>
<img src="/contacts.jpg" class="img-fluid " style="height: 400px; width: 100%; margin-top: unset" alt="Responsive image">

<div id="contacts">
    <hr class="hr-3 bg-white" />
    <h1>CONTACTS</h1>
    <h5>Bulgaria, 2504 Kyustendil, ul. "Ovoshtarska" 2,</h5>
    <h5>Tel.:056624556625554</h5>
    <h5>Email:demo@abv.bg</h5>
    <a style="margin-top: 50px" class="primary-btn base-btn" href="https://www.google.com/maps/place/ul.+%22Ovoshtarska%22+2,+
    2504+Eastern+Industrial+Zone,+Kyustendil/@42.2894246,22.7008144,17z/d
    ata=!3m1!4b1!4m5!3m4!1s0x14aa9c6532ade6df:0x11fb416bd1491226!8m2!3d42.2894207!4d22.7030031"
       target="_blank">Find us on map!</a>

</div>

<section class="" th:replace="fragments/footer::footer"></section>

</body>

</html>