<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>
<div style="text-align: center; margin-top: 5%;height: 397px">
    <h1>Oops!</h1>
    <h4>We can't seem to find the page you're looking for.</h4>
    <h5>404</h5>
    <img src="/images/crash.png" alt=""style="width: 300px">
</div>
<section class="" th:replace="fragments/footer::footer"></section>
</body>

</html>