<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>
<img src="/images/foot_banner.png" class="img-fluid" style="width: 100%" alt="Responsive image">

<div id="title">
    <h1>FIND YOUR PASSION</h1>
</div>

<div style="margin-top: 3%" class="row" id="linksWithImg">

    <a href="/blog/categories/id">
        <div class="card  text-white " style="width: 18rem;">
            <figure><img class="card-img" src="/images/home-motor.jpg" alt="Card image"></figure>
            <div>
                <a href="/blog/categories/id" style="text-align: center; color: white"
                   class="card-title font-weight-bold ">
                    Motorcycle</a>
            </div>
        </div>
    </a>
    <a href="/blog/categories/id">
        <div class="card  text-white " style="width: 18rem;">
            <figure><img class="card-img" src="/images/home-utv.jpg" alt="Card image"></figure>
            <div>
                <a href="/blog/categories/id" style="text-align: center; color: white"
                   class="card-title font-weight-bold ">
                    UTV</a>
            </div>
        </div>
    </a>
    <a href="/blog/categories/id">
        <div class="card  text-white " style="width: 18rem;">
            <figure><img class="card-img" src="/images/home-dirtBike.jpg" alt="Card image"></figure>
            <div>
                <a href="/blog/categories/id" style="text-align: center; color: white"
                   class="card-title font-weight-bold ">
                    Dirt Bike</a>
            </div>
        </div>
    </a>
    <a href="/blog/categories/id">
        <div class="card  text-white " style="width: 18rem;">
            <figure><img class="card-img" src="/images/home-atv.jpg" alt="Card image"></figure>
            <div>
                <a href="/blog/categories/id" style="text-align: center; color: white"
                   class="card-title font-weight-bold ">
                    ATV</a>
            </div>
        </div>
    </a>
</div>
<section class="" th:replace="fragments/footer::footer"></section>
</body>

</html>