<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>
<img src="/images/foot_banner.png" class="img-fluid" style="width: 100%" alt="Responsive image">

<div id="title">
    <h1>FIND YOUR PASSION</h1>
</div>

<div class="fyp-slider full-img carouse-wrap d-flex flex-wrap " id="passions">
    <div class="col-sm-3 mb-xl-2 mb-3 " aria-hidden="true" tabindex="0" role="tabpanel" id="slick-slide00"
         aria-describedby="slick-slide-control00">
        <a class="position-relative no-overflow img-zoom d-block jet-hover " href="/motorcycle/" tabindex="-1">
            <figure><img style="width: 319px; height: 186px" src="/images/home-motor.jpg" alt="Motorcycle"></figure>
            <div class="overlay shade">
                <h3 style="text-align: center;" class="text-dark bl m-0">Motorcycle</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-3 mb-xl-2 mb-3" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide01"
         aria-describedby="slick-slide-control01">
        <a class="position-relative no-overflow img-zoom d-block jet-hover " href="/utv/" tabindex="-1">
            <figure><img style="width: 319px; height: 186px" src="/images/home-utv.jpg" alt="UTV"></figure>
            <div class="overlay shade">
                <h3 style="text-align: center" class="text-dark bl m-0">UTV</h3>
            </div>
        </a>
    </div>

    <div class="col-sm-3 mb-xl-2 mb-3" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide03"
         aria-describedby="slick-slide-control03">
        <a class="position-relative no-overflow img-zoom d-block jet-hover " href="/dirt-bike/" tabindex="-1">
            <figure><img style="width: 319px; height: 186px" src="/images/home-dirtBike.jpg" alt="Dirt Bike"></figure>
            <div class="overlay shade">
                <h3 style="text-align: center;" class="text-dark bl m-0">Dirt Bike</h3>
            </div>
        </a>
    </div>
    <div class="col-sm-3 mb-xl-2 mb-3" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide04"
         aria-describedby="slick-slide-control04">
        <a class="position-relative no-overflow img-zoom d-block jet-hover" href="/atv/" tabindex="-1">
            <figure><img style="width: 319px; height: 186px" src="/images/home-atv.jpg" alt="ATV"></figure>
            <div class="overlay shade">
                <h3 style="text-align: center; " class="text-dark bl m-0">ATV</h3>
            </div>
        </a>
    </div>

</div>

<section class="" th:replace="fragments/footer::footer"></section>
</body>

</html>