<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>
<img src="/images/foot_banner.png" class="img-fluid" style="width: 100%;" alt="Responsive image">

<div  style="width: 65%; margin: 2% auto auto;" class="row bg-white" sec:authorize="hasRole('ADMIN')">
    <div class="col-12" style="text-align: center"  th:unless="${tasks.isEmpty()}" >
        <h2 class="tm-block-title d-inline-block">TASKS</h2>
    </div>
    <hr th:unless="${tasks.isEmpty()}"  class="col-xl-12 col-lg-10 col-md-12 col-sm-12">
    <div>
    </div>

    <div th:each="task : ${tasks}" th:object="${task}">
        <div style="margin: 4%">
            <div class="card" style="width: 70rem;border-top-left-radius: 10px;border-top-right-radius: 10px">
                <div class="card-footer" style="text-align: center;border-top-left-radius: 10px;border-top-right-radius: 10px;background-color: Gainsboro;"
                     th:text="|*{vehicle} *{inquiry.name()} *{make} *{model}|" >
                </div>
                <ul class="list-group list-group-flush" style="margin-left: 2%;" >
                    <br>
                    <p  style="text-align: center; font-weight: bold">DESCRIPTION</p>
                    <p th:text="*{description}" style="text-align: center"></p>
                    <p  style="text-align: center; font-weight: bold">RESPONSE</p>
                    <p th:text="*{response}" style="text-align: center"></p>
                    <p  style="text-align: center; font-weight: bold">CLIENT CONTACTS</p>
                    <p th:text="|*{email}    *{phoneNumber}|" style="text-align: center"></p>
                </ul>
                <form th:action="@{/inquiries/finish/{id} (id= *{id})}">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="submit" class="btn btn-success"
                                style="font-size: 16px;width: 100%">Finished
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="title" >
    <h1 >FIND YOUR PASSION</h1>
</div>

<div class="row" style="margin-top: 5%;width: 100%" >
    <div class="imageContainer">
        <a href="/home/motorcycle">
            <img src="/images/home-motor.jpg" alt="Card image"
                 class="image">
            <div class="mid">
                <div class="text">
                    <p href="/home/motorcycle"
                       style="text-align: center; color: white;text-transform: uppercase;font-size: 25px "
                       class="card-title font-weight-bold ">
                        Motorcycle</p>
                </div>
            </div>
        </a>
    </div>

    <div class="imageContainer">
        <a href="/home/utv">
            <img src="/images/home-utv.jpg" alt="Card image"
                 class="image">
            <div class="mid">
                <div class="text">
                    <p href="/home/utv"
                       style="text-align: center; color: white;text-transform: uppercase;font-size: 25px "
                       class="card-title font-weight-bold ">
                        UTV</p>
                </div>
            </div>
        </a>
    </div>

    <div class="imageContainer">
        <a href="/home/dirtBike">
            <img src="/images/home-dirtBike.jpg" alt="Card image"
                 class="image">
            <div class="mid">
                <div class="text">
                    <p href="/home/dirtBike"
                       style="text-align: center; color: white;text-transform: uppercase;font-size: 25px "
                       class="card-title font-weight-bold ">
                        Dirt Bike</p>
                </div>
            </div>
        </a>
    </div>
    <div class="imageContainer">
        <a href="/home/atv">
            <img src="/images/home-atv.jpg" alt="Card image"
                 class="image">
            <div class="mid">
                <div class="text">
                    <p href="/home/atv"
                       style="text-align: center; color: white;text-transform: uppercase;font-size: 25px "
                       class="card-title font-weight-bold ">
                        ATV</p>
                </div>
            </div>
        </a>
    </div>
</div>


<section class="" style="margin-top: 5%" th:replace="fragments/footer::footer"></section>
</body>

</html>
