<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>
<div style="margin: 4%">
    <div class="card" style="width: 45rem;border-top-left-radius: 10px;border-top-right-radius: 10px;margin: auto">
        <div class="card-footer"
             style="text-align: center;border-top-left-radius: 10px;border-top-right-radius: 10px;background-color: Gainsboro;">
            Inquiry
        </div>
        <ul class="list-group list-group-flush" style="margin-left: 2%">
            <br>
            <p> <b>Email: </b> elizabeta@ebv.bg</p>
            <p> <b>Phone Number: </b> 012 12345678</p>
            <p> <b>Inquiry type: </b> tuning</p>
            <p> <b>Vehicle type: </b> motorcycle</p>
            <p> <b>Model: </b> motorcycle</p>
            <p> <b>Vehicle type: </b> motorcycle</p>
            <p> <b>Vehicle service type:</b> none</p>
            <p> <b>Description: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam leo sem, ultricies ac
                lacus nec, aliquam porta tortor. Praesent interdum posuere rutrum. Aenean tempor mattis tristique.
                Mauris iaculis auctor nulla, in finibus massa feugiat rhoncus. Ut lacinia pellentesque libero ut
                vehicula. Nulla nec laoreet augue. Nullam sit amet suscipit erat. Cras quis justo id orci elementum
                pretium. Fusce in metus convallis, pharetra felis blandit, dignissim justo. Nam pharetra ut felis
                nec finibus. Curabitur dapibus lorem nec molestie lobortis. Fusce dolor tortor, iaculis eu
                consectetur eget, rutrum id lacus. Aliquam ut vehicula dolor, non scelerisque odio. Nunc scelerisque
                pharetra pulvinar. Fusce eu ex quam.</p>

        </ul>
        <div class="form-group" style="margin: auto;width: 90%; ">
            <div class="label-holder text-dark textCol d-flex justify-content-center">
                <label for="description" style="font-weight: bold; font-size: 25px">RESPONSE</label>
            </div>
            <textarea  name="description" id="description" style="width: 100%;" placeholder="Must be given response for date, whether can we do it, guide price, and details
"></textarea>
            <small  class="text-danger"></small>
        </div>

        <button type="button" class="btn btn-secondary" style="margin: auto;margin-bottom: 3%;margin-top: 3%">SUBMIT</button>
    </div>

</div>

<section class="" th:replace="fragments/footer::footer"></section>
</body>

</html>