<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>


<div style="margin: 4%">
    <div class="card" style="width: 45rem;border-top-left-radius: 10px;border-top-right-radius: 10px;margin: auto"
         th:object="${inquiryEntity}">
        <div class="card-footer"
             style="text-align: center;border-top-left-radius: 10px;border-top-right-radius: 10px;background-color: Gainsboro;" th:text="*{make}">
            Inquiry
        </div>
        <ul class="list-group list-group-flush" style="margin-left: 2%">
            <br>
            <div class="row" style="margin-left: 1%"><p style="font-weight: bold">Email:&nbsp;</p> <p th:text="*{email}"> </p> </div>
            <div class="row" style="margin-left: 1%"><p style="font-weight: bold">Phone Number:&nbsp;</p> <p th:text="*{phoneNumber}"> </p> </div>
            <div class="row" style="margin-left: 1%"><p style="font-weight: bold">Inquiry type:&nbsp;</p> <p th:text="*{inquiry}"> </p> </div>
            <div class="row" style="margin-left: 1%"><p style="font-weight: bold">Vehicle type:&nbsp;</p> <p th:text="*{vehicle}"></p> </div>
            <div class="row" style="margin-left: 1%"><p style="font-weight: bold">Model:&nbsp;</p> <p th:text="*{model}"> </p> </div>
            <div th:unless="*{service == null}" class="row" style="margin-left: 1%"><p style="font-weight: bold">Vehicle service type:&nbsp;</p> <p th:text="*{service}"> </p> </div>
            <div th:unless="*{description == ''}" class="row" style="margin-left: 1%"><p style="font-weight: bold">Description:&nbsp;</p> <p th:text="*{description}"> </p> </div>


        </ul>

        <form th:action="@{/inquiries/details/{id}(id = ${inquiryEntity.id})}" method="POST">
            <div class="form-group" style="margin: auto;width: 90%; " th:object="${addResponseBindingModel}">
                <div class="form-group" style="margin-top: 2%">
                    <div class="label-holder text-dark textCol d-flex justify-content-center">
                        <label for="response" style="font-weight: bold">RESPONSE</label>
                    </div>
                    <textarea
                            required minlength="10"
                            th:field="*{response}" th:errorclass=" border-danger" name="response" id="response"
                              style="width: 100%" placeholder="Should write response which should containing date for execution and price. "></textarea>
                    <div class="small" th:if="${#fields.hasErrors('response')}">
                        <div style="margin-left: 10px; ">
                            <small th:errors="*{response}"></small>
                        </div>
                    </div>
                </div>

                <div class="button-holder d-flex justify-content-center" style="margin-bottom: 3%">
                    <button type="submit" class="btn btn-dark " value="Sign in">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>

</div>


<section class="" th:replace="fragments/footer::footer"></section>
</body>

</html>