<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>
<main>
    <div class="mainContainerMyAccount" style="margin: auto;">
        <div class="row">
            <div style="height: 400px; width: 15%;margin:auto; margin-top: 3%;">
                <div class="block ac-info">
                    <div class="block-content" style="margin: auto; text-align: center">
                        <img src="/images/road.jpg" alt="..." class="rounded-circle"
                             style="width:  250px; height: 250px;">
                        <p style="text-align: center; margin-top: 4%; font-size:20px">
                            <span class="text-dark wrap">Elizabeta</span>
                        </p>
                        <hr>
                        <!--                    <div class="block-content" style="text-align: left; margin-left: 15%">-->
                        <!--                        <p>-->
                        <!--                            <strong>Full Name: </strong><span class="text-secondary wrap">Elizabeta Koleva</span>-->
                        <!--                        </p>-->
                        <!--                        <p>-->
                        <!--                            <strong>Email: </strong><span class="text-secondary wrap">elizabetaa99@abv.bg</span>-->
                        <!--                        </p>-->
                        <!--                        <p>-->
                        <!--                            <strong>Phone number: </strong><span class="text-secondary wrap">0888888888888</span>-->
                        <!--                        </p>-->
                        <!--                    </div>-->

                        <button type="button" class="btn btn-white btn-lg btn-block ">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        <!--        <div style="height: 400px; width: 60%; margin-top: 5%;margin:auto; background-color: white">-->
        <!--            <div class="block ac-info">-->
        <!--                <div class="block-content" style="margin: auto; text-align: center">-->
        <!--                    <p style="text-align: center; margin-top: 4%; font-size:20px">-->
        <!--                        <span class="text-dark wrap">My orders</span>-->
        <!--                    </p>-->
        <!--                    <table class="table">-->
        <!--                        <thead>-->
        <!--                        <tr>-->
        <!--                            <th scope="col">#</th>-->
        <!--                            <th scope="col">First</th>-->
        <!--                            <th scope="col">Last</th>-->
        <!--                            <th scope="col">Handle</th>-->
        <!--                        </tr>-->
        <!--                        </thead>-->
        <!--                        <tbody>-->
        <!--                        <tr>-->
        <!--                            <th scope="row">1</th>-->
        <!--                            <td>Mark</td>-->
        <!--                            <td>Otto</td>-->
        <!--                            <td>@mdo</td>-->
        <!--                        </tr>-->
        <!--                        <tr>-->
        <!--                            <th scope="row">2</th>-->
        <!--                            <td>Jacob</td>-->
        <!--                            <td>Thornton</td>-->
        <!--                            <td>@fat</td>-->
        <!--                        </tr>-->
        <!--                        <tr>-->
        <!--                            <th scope="row">3</th>-->
        <!--                            <td>Larry</td>-->
        <!--                            <td>the Bird</td>-->
        <!--                            <td>@twitter</td>-->
        <!--                        </tr>-->
        <!--                        </tbody>-->
        <!--                    </table>-->
        <!--                    <button type="button" class="btn btn-white btn-lg">Make order</button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <div>
<!--            <form action="/users/addImg" method="post">-->
<!--                <label for="imageUrl"> Select a file to upload</label>-->
<!--                <input type="file" name="imageUrl" value="imageUrl" id="imageUrl">-->
<!--                <input type="submit" value="submit">-->
<!--            </form>-->
            <form id="add-article-form" class="form w-25 mx-auto" th:action="@{/users/addImg}" th:method="post"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="imageUrl" class="font-weight-bold">Picture</label>
                    <input type="file" class="form-control-file" id="imageUrl" name="imageUrl" required="required">
                </div>
                <hr class="hr-2 bg-dark w-25">
                <div class="button-holder d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>


</main>

<section class="" th:replace="fragments/footer::footer"></section>

</body>

</html>