<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>
<main>
    <div class="row" style="margin-top: 5%">
        <div th:object="${currentUser}" style="margin-left: 5%">
            <div style="margin: auto">
                <div class="block ac-info">
                    <div class="block-content" style="margin: auto; text-align: center">
                        <img th:src="*{imageUrl}" alt="..." class="rounded-circle"
                             style="margin-left: 5%;width:  250px; height: 250px;">
                        <p style="text-align: center; margin-top: 4%; font-size:20px">
                            <span th:text="|*{firstName} *{lastName}|" class="text-dark wrap">Elizabeta</span>
                        </p>
                        <hr>
                        <button type="button" class="btn btn-white btn-lg btn-block ">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        <!--        <form id="add-article-form" class="form w-25 mx-auto" th:action="@{/users/addImg}" th:method="post"-->
        <!--              enctype="multipart/form-data">-->

        <!--            <div class="fileUpload btn btn-primary" style="margin-top: 2%;">-->
        <!--                <label class="upload">-->
        <!--                    <input name='imageUrl' id="imageUrl" type="file"/> Upload Image-->
        <!--                </label>-->
        <!--            </div>-->
        <!--            <hr class="hr-2 bg-dark w-25">-->
        <!--            <div class="button-holder d-flex justify-content-center">-->
        <!--                <button type="submit" class="btn btn-success">Add</button>-->
        <!--            </div>-->
        <!--        </form>-->


        <div style="margin-left: 5%;width: 65%; " class="row">
            <div class="col-12" style="text-align: center">
                <h2 class="tm-block-title d-inline-block">My inquiries</h2>
            </div>
            <hr class="col-xl-12 col-lg-10 col-md-12 col-sm-12">
            <div  th:if="${myInquiries.isEmpty()}">
                <div style="margin: 4%">
                    <div class="card" style="width: 70rem; height: 13rem;border-radius: 10px;background-color: #e5e5e5">
                        <h4 style="text-align: center;margin-top: 3%">You don't have any inquiries yet!</h4>
                        <div style="margin-top: 3%">
                            <button id="addPost" style="margin-left: 20rem" onclick="window.location.href='/inquiries/add'" >Add Post</button>
                        </div>
                    </div>
                </div>
            </div>
            <div th:each="inquiry : ${myInquiries}" th:object="${inquiry}">
                <div style="margin: 4%">
                    <div class="card" style="width: 70rem;border-top-left-radius: 10px;border-top-right-radius: 10px">
                        <div class="card-footer" style="text-align: center;border-top-left-radius: 10px;border-top-right-radius: 10px;background-color: Gainsboro;"
                        th:text="|*{vehicle} *{model}|">
                        </div>
                        <ul class="list-group list-group-flush" style="margin-left: 2%;" >
                            <br>
                            <p th:if="*{response == null}" style="text-align: center">It is being processed...</p>
                            <p th:unless="*{response == null}" th:text="*{response}"></p>
                        </ul>
                        <form th:action="@{/inquiries/delete/{id} (id= *{id})}">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" class="btn btn-danger" style="font-size: 16px;width: 100%">Denial</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<section class="" th:replace="fragments/footer::footer"></section>

</body>

</html>