<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>
<a class="top-link hide" href="" id="js-top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
    <span class="screen-reader-text">Back to top</span>
</a>
<div class="card mb-4" style="width: 70%;height: 450px; background-color: LightGray; margin: 5% auto auto; border-style: none" th:if="${news.isEmpty()}">
    <h1 style="text-align: center;margin-top: 3%;">
        Don't have any news yet
    </h1>
   <hr size="30" color="#0077b3" style="margin-top: 2%; "/>


</div>
<div class="card mb-4" style="width: 70%; background-color: LightGray; margin: 5% auto auto; border-style: none" th:unless="${news.isEmpty()}">
    <hr size="30" color="#0077b3" style="margin-top: 2%; "/>
    <div  th:each="n : ${news}" th:object="${n}">
        <div class="row g-1" style="margin-top: 3%; margin-left: 3%" >
            <div class="col-md-4" style="margin: auto;width: 50%; height: 80%;">
                <img th:src="*{imageUrl}" class="card-img-top" alt="Responsive image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 th:text="*{title}" class="card-title" style="color: #0077b3">NEWS TITLE</h1>
                    <p th:text="*{addedOn}" class="card-text"></p>
                    <a th:href="@{/news/details/{id} (id = *{id})}" class="btn-lg active" style="margin-top: 10%; background-color: #0077b3;color: white"
                       role="button">READ MORE</a>
                </div>
            </div>
            <hr>
        </div>
        <hr size="30" color="#0077b3" style="margin-top: 3%; "/>
    </div>

</div>

<script th:src="@{/js/scroll-button.js}"></script>

<section class="" th:replace="fragments/footer::footer"></section>
</body>

</html>