<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>

<div class="card mb-4" style="width: 70%; background-color: LightGray; margin: 5% auto auto; border-style: none">
    <hr size="30" color="#0077b3" style="margin-top: 2%; "/>
    <div  th:each="n : ${news}" th:object="${n}">
        <div class="row g-1" style="margin-top: 3%; margin-left: 3%" >
            <div class="col-md-4" style="margin: auto;width: 50%; height: 80%;">
                <img th:src="*{imageUrl}" class="card-img-top" alt="Responsive image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 th:text="*{title}" class="card-title" style="color: #0077b3">NEWS TITLE</h1>
                    <p th:text="*{addedOn}" class="card-text"></p>
                    <a th:href="@{/news/details/{id} (id = *{id})}" class="btn-lg active" style="margin-top: 10%; background-color: #0077b3;color: white"
                       role="button">READ MORE</a>
                </div>
            </div>
            <hr>
        </div>
        <hr size="30" color="#0077b3" style="margin-top: 3%; "/>
    </div>

</div>


<section class="" th:replace="fragments/footer::footer"></section>
</body>

</html>