<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>
<body>
<nav th:replace="fragments/navbar::navbar"></nav>

<div class="row" id="serviceContainerBG">
    <div class="card bg-dark text-white" id="service">
        <img class="img" src="/images/tuningMotoOrder.jpg" alt="Card image">
        <div class="card-img-overlay relative-bottom">
            <p style="margin-top: 50%;" class="card-text text-sm-left ">Here you can make your vehicle awesome. We can make tuning it. Just say
                what you want and we will make it.</p>
        </div>
    </div>

    <div id="makeOrder">
        <h3 style="text-align: center;margin-top: 3%;font-weight: 400; text-transform: uppercase;">Place an inquiry for
            tuning</h3>
        <hr>
        <form method="post" th:action="@{/inquiries/vehicleTuning}" th:object="${inquiryTuningBindingModel}">
            <div class="row">
                <div class="col-sm-6 " style="margin-top: 2%">
                    <div class="label-holder text-dark textCol d-flex ">
                        <label for="brand">Brand</label>
                    </div>
                    <select style="width: 100%; height: 40px;" required th:field="*{brand}" id="brand" name="brand" th:errorclass=" border-danger" >
                        <option value="">- Select Brand -</option>
                        <option th:each="b : ${T(com.example.demo.model.entity.enums.BrandsNameEnum).values()}"
                                th:value="${b}" th:text="${b}"></option>
                    </select>
                    <div class="small" th:if="${#fields.hasErrors('brand')}">
                        <div style="margin-left: 10px; ">
                            <small  th:errors="*{brand}"></small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="margin-top: 2%">
                    <label for="phoneNumber">Your phone number</label>
                    <input style="width: 100%; height: 40px"
                           required minlength="10"
                           pattern="(\+\d{12})|(\d{10})"
                           th:field="*{phoneNumber}" th:errorclass=" border-danger"name="phoneNumber" id="phoneNumber" type="text" placeholder="+359 00 0000000">
                    <div class="small" th:if="${#fields.hasErrors('phoneNumber')}">
                        <div style="margin-left: 10px; ">
                            <small  th:errors="*{phoneNumber}"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="margin-top: 2%">
                    <label for="vehicle">Vehicle</label>
                    <br>
                    <select style="width: 100%; height: 40px;" th:field="*{vehicle}" required id="vehicle" name="vehicle"
                            th:errorclass=" border-danger">
                        <option value="">- Select vehicle type -</option>
                        <option th:each="s : ${T(com.example.demo.model.entity.enums.VehicleTypeNameEnum).values()}"
                                th:value="${s}" th:text="${s}"></option>
                    </select>
                    <div class="small" th:if="${#fields.hasErrors('vehicle')}">
                        <div style="margin-left: 10px; ">
                            <small th:errors="*{vehicle}"></small>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6" style="margin-top: 2%">
                    <div class="label-holder text-dark textCol d-flex justify-content-center">
                        <label for="model">Model</label>
                    </div>
                    <input style="width: 100%; height: 40px" required minlength="2" th:field="*{model}" th:errorclass=" border-danger"
                           name="model" id="model" class="full-width" placeholder="Model" type="text">
                    <div class="small" th:if="${#fields.hasErrors('model')}">
                        <div style="margin-left: 10px; ">
                            <small th:errors="*{model}"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="margin-top: 2%">
                <div class="label-holder text-dark textCol d-flex justify-content-center">
                    <label for="description">Description</label>
                </div>
                <textarea required minlength="10" th:field="*{description}" th:errorclass=" border-danger" name="description" id="description"
                          style="width: 100%" placeholder="Description"></textarea>
                <div class="small" th:if="${#fields.hasErrors('description')}">
                    <div style="margin-left: 10px; ">
                        <small th:errors="*{description}"></small>
                    </div>
                </div>

                <div class="button-holder d-flex  justify-content-center">
                    <button type="submit" class="btn btn-dark " value="Sign in">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>

<section class="" th:replace="fragments/footer::footer"></section>

</body>

</html>