<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head::head"></head>
<body>
<nav th:replace="fragments/navbar::navbar"></nav>

<div class="row" id="serviceContainerBG">
    <div class="card bg-dark text-white" id="service">
        <img class="img" src="/images/image Service.jpg" alt="Card image">
        <div class="card-img-overlay relative-bottom">
            <p class="card-text text-sm-left ">Here you can make inquiry for vehicle service and we will answer you as soon as possible when we will be able to do your vehicle service.
                We can change your tires, oil, brake lines, antifreeze, oil seals, air filter and oil filter.
                Is better to make your vehicle service every year so we give you garante for our products and job for one year.</p>
        </div>
    </div>

    <div id="makeOrder">
        <h3 style="text-align: center;margin-top: 3%;font-weight: 400; text-transform: uppercase;">Place an inquiry for
            vehicle service</h3>
        <hr>
        <form method="POST" th:action="@{/inquiries/vehicleService}" th:object="${inquiryVehicleServiceBindingModel}">
            <div class="row">
                <div class="col-sm-6" style="margin-top: 2%">
                    <label for="email">Your email</label>
                    <br>
                    <input style="width: 100%;height: 40px " th:field="*{email}" type="email"  name="email" id="email" placeholder="demo@abv.bg">
                </div>
                <div class="col-sm-6" style="margin-top: 2%">
                    <label>Your phone number</label>
                    <input style="width: 100%; height: 40px"th:field="*{phoneNumber}" type="text" placeholder="+359 00 0000000">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="margin-top: 2%">
                    <label>Vehicle</label>
                    <br>
                    <select style="width: 100%; height: 40px;" id="vehicle" name="vehicle">
                        <option value="">- Select vehicle type -</option>
                        <option th:each="s : ${T(com.example.demo.model.entity.enums.VehicleTypeNameEnum).values()}"
                                th:value="${s}" th:text="${s}"></option>
                    </select>
                </div>
                <div class="col-sm-6" style="margin-top: 2%">
                    <label>Vehicle service type</label>
                    <select style="width: 100%; height: 40px;"id="vehicleService" name="vehicleService" >
                        <option value="">- Select vehicle service type -</option>
                        <option th:each="s : ${T(com.example.demo.model.entity.enums.ServiceTypeNameEnum).values()}"
                        th:value="${s}" th:text="${s}"></option>
                    </select>
                </div>
                <div class="col-sm-12 justify-content-center" style="margin-top: 2%">
                    <div class="label-holder text-dark textCol d-flex justify-content-center">
                        <label>Model</label>
                    </div>
                    <input style="width: 100%; height: 40px" th:field="*{model}" class="full-width" placeholder="Model" type="text">
                </div>
            </div>
            <div class="form-group" style="margin-top: 2%">
                <div class="label-holder text-dark textCol d-flex justify-content-center">
                    <label>Description</label>
                </div>
                <textarea th:field="*{description}" style="width: 100%" placeholder="Description"></textarea>
            </div>

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-dark " value="Sign in">Submit</button>
            </div>

        </form>

    </div>
</div>

<section class="" th:replace="fragments/footer::footer"></section>

</body>

</html>