
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<nav th:replace="fragments/navbar::navbar"></nav>
<a class="top-link hide" href="" id="js-top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
    <span class="screen-reader-text">Back to top</span>
</a>
<main>
    <div>
        <img id="inf" class="card-img" src="/images/banner.jpg" alt="Card image"
             style="position: absolute;top: 60px;border-radius: 0">
        <h3 class="card-img-overlay"
            style="background-color:rgba(0, 0, 0, 0.4); height: 70px;margin-top: 16.6%;text-align: center; color: #e5e5e5">
            Manuals and useful files for motorcycles</h3>
    </div>
    <div style="margin-top: 20%">
        <button id="addPost" onclick="window.location.href='/service/information/add'">Add File</button>

        <div style="width: 80%;margin: 5% auto auto;">

            <div class="row">
                <div style="width: 80%;margin: 4% auto auto;">

                    <div class="form-inline my-2 my-lg-0" style="margin-left: 2%;width: 100%;">
                        <input id="searchInput" class="form-control mr-sm-2" style="width: 95%" type="search"
                               placeholder="Enter make or model" aria-label="Search">
                    </div>
                    <div class="row" id="serviceList" style="margin-top: 5%">
                            <div th:each="m : ${manuals}" th:object="${m}">

                            <div style="margin-top: 5%">
                                <div class="card m-5 border-dark" style="width: 18rem;border-radius: 0;">
                                    <div class="card-body">
                                        <img th:src="*{image}" alt="make image" style="width: 100%; height: 60px">
                                        <h5 class="card-title" th:text="|*{make} *{year}|" style="text-align: center;margin-top: 3%"></h5>
                                        <div class="row" >
                                            <h6 style="margin-top: 12px;margin-left: 5%;" class="card-subtitle mb-2 text-muted" th:text="*{model}"></h6>
                                            <a th:href="*{prdFurl}"    target="_blank" >
                                                <img id="pdf" src="/images/download.png" alt="make image" width="80" height="50">
                                            </a>
                                        </div>
                                        <p class="card-text" th:text="*{addedOn}"></p>
                                    </div>
                                </div>
                            </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<section class="" th:replace="fragments/footer::footer"></section>
<script th:src="@{/js/scroll-button.js}"></script>
<script th:src="@{/js/search-bar.js}"></script>
</body>

</html>