<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>
<a class="top-link hide" href="" id="js-top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
    <span class="screen-reader-text">Back to top</span>
</a>
<main>
    <div>
        <img id="inf" class="card-img" src="/images/banner.jpg" alt="Card image"
             style="position: absolute;top: 60px;border-radius: 0">
        <h3 class="card-img-overlay"
            style="background-color:rgba(0, 0, 0, 0.4); height: 70px;margin-top: 16.6%;text-align: center; color: #e5e5e5">
            Manuals and useful files for motorcycles</h3>
    </div>
    <div style="margin-top: 20%">
        <button id="addPost" onclick="window.location.href='/service/information/add'">Add File</button>

        <div style="width: 80%;height: 1000px;margin: 4% auto auto;">
<!--            <form class="form-inline my-2 my-lg-0 " style="margin-left: 25%;width: 60%">-->
<!--                <input class="form-control mr-sm-2 col-sm-9" type="search" placeholder="Search" id="searchInput" aria-label="Search">-->
<!--                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>-->
<!--            </form>-->
            <div class="form-inline my-2 my-lg-0" style="margin-left: 2%;width: 100%;">
                <input id="searchInput" class="form-control mr-sm-2" style="width: 95%" type="search"
                       placeholder="Enter make or model" aria-label="Search">
            </div>
            <div class="row"  >
                <div id="serviceList" style="margin-top: 5%" th:each="m : ${manuals}" th:object="${m}" >
                    <!--                <a th:href="@{/service/details/{id}(id = *{id})}" th:each="m : ${manuals}" th:object="${m}">-->
                    <div style="margin-top: 5%">
                        <div class="card m-5 border-dark" style="width: 18rem;border-radius: 0;">
                            <div class="card-body">
                                <img src="/images/ktm-logo.png" alt="make image" style="width: 100%; height: 60px">
                                <h5 class="card-title" th:text="*{make}" style="text-align: center">KTM</h5>
                                <br>
                                <h6 class="card-subtitle mb-2 text-muted" th:text="|*{model} *{year}|">navod duke 390
                                    2018</h6>
                                <p class="card-text" th:text="*{addedOn}">2021-03-31 08:15</p>
                            </div>
                            <a th:href="*{prdFurl}" download   target="_blank">
                                <img id="pdf" src="/images/download.png" alt="make image" width="80" height="50">
                            </a>
                        </div>
                    </div>
                    <!--                </a>-->
                </div>

            </div>
        </div>
    </div>
    </div>

</main>
<section class="" th:replace="fragments/footer::footer"></section>
<script th:src="@{/js/scroll-button.js}"></script>
<script th:src="@{/js/search-bar.js}"></script>
</body>

</html>

