<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>

<body>
<nav th:replace="fragments/navbar::navbar"></nav>

<main>
    <div class="card bg-dark text-white m-5" style="width: 60rem;">
        <img class="card-img" src="/images/signIn.jpg" alt="Card image">
        <div class="card-img-overlay relative-bottom">
            <h5 class="card-title font-weight-bold "> LETS GET STARTED</h5>
            <p class="card-text text-sm-left ">Sign back in to continue building your dream machine.</p>
        </div>
    </div>

    <form class="mx-auto w-25 bg-blur" method="POST" id="signIn" th:action="@{/users/signIn}">
        <h1 class="text-center ">Sign in</span></h1>
        <hr class="hr-3 bg-white"/>
        <div class="form-group">
            <div th:if="${failure}" class="small" style="height: 30px; font-size: 15px; text-align: center;" role="alert">
                This username and password combination does not exist.
            </div>
            <div class="form-group">
                <div class="label-holder text-dark textCol d-flex justify-content-center">
                    <label  for="email" class="h4 mb-2">Email</label>
                </div>
                <input th:value="${email}" type="email" class="form-control" id="email" name="email"/>
            </div>
            <div class="form-group">
                <div class="label-holder text-dark textCol d-flex justify-content-center">
                    <label for="password" class="h4 mb-2">Password</label>
                </div>
                <input type="password" class="form-control" id="password" name="password"/>
            </div>

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-dark " value="Sign in">Sign in</button>
            </div>
            <div class="signin-link text-center m-3">
                <span class="text-secondary ">Don't have an account?</span> <a href="/users/register"
                                                                               class="signin link-jet"
                                                                               title="Sign in"><span>Create an account!</span></a>
            </div>
        </div>
    </form>
    </div>
</main>

<section class="" th:replace="fragments/footer::footer"></section>

</body>

</html>